# Ignore compiled Python files
*.pyc
*.pyo
__pycache__/

# Ignore logs and temporary files
*.log
*.tmp
*.bak

# Ignore system files
.DS_Store
Thumbs.db

# Ignore virtual environment
venv/
.env/

# Ignore Nmap output files
*.nmap
*.gnmap
*.xml

# Ignore IDE specific files
.vscode/
.idea/
*.iml

scan_results.txt
file_structure.txt